*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
button {
  background-color: #0041ba;
  border: none;
  border-radius: 0.2rem;
  color: white;
  width: 10rem;
  text-align: center;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}
.Nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 3.5rem;
  border-bottom: 1px solid #ccc;
}

.full {
  width: 100%;
}

.center {
  text-align: center;
}
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
